* {
  margin: 0;
  padding: 0; }

.analog-h1 {
  text-align: center;
  color: pink; }

Nav {
  background-color: #fffaaa;
  height: 5em; }
  Nav .link {
    text-decoration: none;
    padding-bottom: 1em;
    color: red; }
  Nav .links-div {
    height: 65%;
    display: flex;
    justify-content: space-around;
    align-items: flex-end; }

.filter-select-div {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5em; }
  .filter-select-div select {
    background-color: pink; }

.decade-h1 {
  text-align: center; }

.cards-div {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap; }

.card {
  margin: 1em 0 1em 0;
  text-align: center;
  background-color: red;
  border: 3px solid black;
  width: 17.5em; }
  .card .top-card-div {
    background-color: red; }
  .card img {
    width: 100%;
    height: auto; }
  .card .bottom-card-div {
    background-color: red; }
