
$sixtiesOrange: #e5562b;
$sixtiesYellow: #f9931e;
$sixtiesGreen: #c3a61e;
$sixtiesPurple: #a775d2;
$sixtiesRed: #c31e1e;

* {
    margin: 0;
    padding: 0;
}

.nav {
    background-color: #fffaaa;
    height: 5em;

    &-h1 {
    text-align: center;
    color: pink;
    }

    &-link {
    text-decoration: none;
    padding-bottom: 1em;
    color: red;
    }

    &-links-div {
        height: 65%;
        display: flex;
        justify-content: space-around;
        align-items: flex-end;
    }
}

.user-input {

    &-div {
    display: flex;
    justify-content: space-around;
    align-content: center;
    margin: 1em 0 0 1.7em;
    }

    &-button,
    &-select {
        background-color: pink;
        margin-right: 2em;
    }
}   

.card {
    margin: 1em 0 1em 0;
    text-align: center;
    background-color: red;
    border: 3px solid black;
    box-shadow: 7px 10px 12px -5px rgba(0, 0, 0, 0.56); 
    width: 17.5em;

    &-decade-h1 {
    text-align: center;
    }

    &-div {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap; 
    }

    &-top-div {
        background-color: red;
    }

    &-img {
        width: 100%;
        height: auto;
    }

     &-bottom-div {
        background-color: red;
    }

    &-btn{
        padding: 0.25em;
        font-size: 1em;
        margin: 0.5em 0 0.5em 0;
    }
}

.big-card {

    &-div {
        display: flex;
        height: 40em; 
    }

    &-img {
        text-align: left;
        height: 100%;
        width: auto;
    }

    &-layout {
        background-color: #ffaccc;
        text-align: center;
        padding: 0 5em 0 5em;
    }

    &-h1 {
        font-size: 2.5em;
        margin-top:1em;
    }        

    &-h3 {
        font-size: 2.5em;
        margin-top:1em;
    }

    &-p {
        font-size: 1.5em;
        margin-top:1em;
    }

    &-btn {
        padding: 1em;
        font-size: 1.5em;
        margin-top:1em;
    }
}

.form {

    &-content-div {
    background-color: grey;
    }

    &-div {
        display: flex;
        flex-direction: column;
        align-content: center;
        background-color: red;
    }
}

.stamp {
    transform: rotate(12deg);
    color: #555;
	font-size: 3rem;
	font-weight: 700;
	border: 0.25rem solid #555;
	display: inline-block;
	padding: 0.25rem 1rem;
	text-transform: uppercase;
	border-radius: 1rem;
	font-family: 'Courier';
	-webkit-mask-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/8399/grunge.png');
    -webkit-mask-size: 944px 604px;
    mix-blend-mode: multiply;
}

.sold {
    color: #D23;
    border: 0.5rem double #D23;
    transform: rotate(8deg);
    -webkit-mask-position: 2rem 3rem;
    font-size: 2rem;  
}